body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:none;
    height: 100%;
}

img {

height: 200px;
width:auto;
border-radius: 30px;
border: 3px solid black;
}

.logo {
    height: 75px;
    width: auto;
}

.fixed-bg {
    height: 60vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.context {
    background-image: url(./pictures/wasted.jpeg);
}

.quote {
    background-image: url(./pictures/reincliff.jpg);
}


.fixed-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.context{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0 200px 0 200px;

}

.sign-up-wrap {
    background-color: rgb(1, 179, 179);
    border: 5px solid teal;
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    gap:25px;
    border-radius: 30px;
}

.quote{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0 200px 0 200px;
}

/*
.card {
    height: 150px;
    width: 150px;
    background-color: black;
}
*/

.char {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.char-text {
    width: 150px;

}

.title{
    font-size: 30px;
}

.pictures{
    background-color: #00d78c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.char-wrap {
    display: flex;
    gap: 50px;
    justify-content: center;
    
    flex-wrap: wrap;
    height: 500px;
}

.header,.footer {
    height: 100px;
    background-color: #00664d;
    color: white;
    align-items: center;
}

.header {
    display: flex;
    gap:15px;
    justify-content: space-between;
    padding: 0 120px 0 120px;

}

.head-links {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white
}

